.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation */
.Navigation{
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 640px;
    padding: 15px 2vw 0;
}
 .Navigation__Links-First{
    margin-right: 3vw;
}
 .Navigation__Links-First .chakra-link{
    display: flex;
    align-items: center;
}
 .Navigation__Links {
    margin: 0 1vw;
}
.Navigation-Desk{
    display: flex;
}
.Navigation-Mobile {
    display: none;
}


@media(max-width: 640px) {
    .Navigation-Mobile {
        display: block;
    }
    .Navigation-Desk{
        display: none;
    }

}