.Wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.Wrapper-Inner {
  max-width: 60%;
  width: 100%;
}
.Page-Wrapper {
  margin-top: 11vmax;
  padding-bottom: 2vh;
}
/* navigation */
.Navigation {
  position: fixed;
  z-index: 9999;
  top: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 15px 0;
}
.Download-Btns a:hover,
.Contact-List a:hover,
.Contacts__EmailWrapper a:hover{
  text-decoration: none;
}
.Navigation__Links-First {
  margin-right: 3vw;
  display: flex;
  align-items: center;
}
.Navigation__Links-First .chakra-link {
  display: flex;
  align-items: center;
}
.Navigation__Links {
  margin: 0 1vw;
  display: flex;
  align-items: center;
}
.chakra-ui-dark .Navigation__Links.active button {
  background-color: rgba(255, 255, 255, 0.3);
}
.chakra-ui-light .Navigation__Links.active button {
  background-color: #e2e8f0;
}

.Navigation__Links button {
  padding: 7px 10px;
}
.Navigation-Desk {
  display: flex;
}
.Navigation-Mobile {
  display: none;
  margin-left: 3vw;
}
/* .Navigation-Mobile .chakra-menu__menu-list {
  background: rgb(66, 66, 66);
} */

/* intro */
.Introduction {
  display: flex;
  /* margin-top: 5vh; */
  /* justify-content: space-between; */
  width: 100%;
}
.Introduction__Text {
  margin-left: 1vw;
}
.Introduction__Occupation {
  margin-bottom: 1vh;
}
.Introduction__Description {
  margin-left: 2vw;
}
.Introduction__Description > li {
  margin: 1.5px 0;
}
.Tech-Icon {
  margin: 0 3px;
}
.Summary {
  margin-top: 5vh;
}
.Summary__Text {
  margin-top: 1vh;
}
.Summary__Text .chakra-code, 
.Summary__Text span{
  margin: 3px;
  vertical-align: middle;
}
.Download-Btns {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0 2vh;
}
.Skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Skills__Heading {
  margin-top: 5vh;
}
.Skills__List {
  margin: 15px 0;
}
.Skills__List li {
  margin: 3px 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.Skills__Environiment .chakra-kbd {
  margin-inline-end: unset;
  margin: 5px 0;
}

.ListItem-VK .chakra-code,
.ListItem-VK {
  display: flex;
  align-items: center;
}
.ListItem-VK .Icon--logo_vk_16 svg,
.ListItem-VK .Icon--logo_vk_outline_24 svg {
  margin: 0 2px;
}
.Skills__List .chakra-code,
.Skills__Environiment .chakra-kbd,
.Skills__List p {
  margin: 5px 3px;
}
.Skills__List li span{
  margin: 5px 3px;
}
.Skills__List svg{
  margin: 0 3px;
}
.Skills-Wrapper-Inner {
  margin-right: 10px;
}
.Skills__Img {
  margin: 0 auto;
}
.Skills__Imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Skills__Imgs .Skills__Img{
  margin:  5vh 0;
}
.Skills-Wrapper {
  display: flex;
  align-items: center;
}

.Skills__Environiment {
  margin-top: 3vh;
}
.Skills__Environiment li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* experience */
.Experience-Wrapper {
  margin-top: 5vh;
}
.Experience__Inner {
  display: flex;
  align-items: center;
}
.Experience__Description {
  margin-left: 2vw;
}
.Experience__Text {
  margin-top: 2vh;
}
.Experience__Description span {
  margin: 2px 0;
}

/* contact */
.Contact-List {
  text-align: left;
}
.Contact-List li {
  margin: 15px 0;
}
.Contact-List button {
  width: 100%;
}
.Contact-Wrapper {
  display: flex;
  margin-top: 1vh;
  justify-content: space-around;
  align-items: center;
}

/* codewars */
.CodeWars__inner{
  text-align: center;
  box-sizing: border-box;
  padding: 10px 5px;
}
.CodeWars__inner span{
  margin: 0 1vw;
  font-weight: 700;
}
.CodeWars__Completed,
.CodeWars__Languages{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 0;
}
.CodeWars__Btn{
  display: flex;
  align-items: center;
}
.CodeWars__Btn svg{
  margin-left: 5px;
  margin-top: 2px;
}
.chakra-link.CodeWars__Link:hover{
  text-decoration: none;
}
@media(min-width: 1366px){
  .Wrapper-Inner {
    max-width: 50%;
  }
  .Skills-Wrapper-Inner{
    margin-right: 5vw;
  }
}
@media (max-width: 1200px) {
  .Wrapper-Inner {
    max-width: 70%;
  }
}
@media (max-width: 1024px) {
  .Wrapper-Inner {
    max-width: 90%;
  }
  .Navigation {
    padding: 15px 2vw 0;
  }
  .Navigation-Mobile {
    display: block;
  }
  .Navigation-Desk {
    display: none;
  }
  .Navigation__Links-First .chakra-heading {
    display: none;
  }
  .Introduction {
    flex-direction: column;
    align-items: center;
  }
  .Introduction .chakra-heading,
  .Introduction .chakra-text,
  .Introduction__Text,
  .Summary__Heading,
  .Summary__Text {
    text-align: center;
  }
  .Introduction__Description .chakra-code {
    width: 100%;
  }
  .Introduction__Header {
    margin-top: 1vh;
  }
  .Download-Btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }
  .Download-Btns button {
    margin: 10px 0;
  }
  .Skills__Environiment li {
    display: block;
  }

  .Page-Wrapper .chakra-heading,
  .Skills__Text {
    text-align: center;
    word-break: break-word;
  }
  
  .Experience__Description {
    margin-top: 2vh;
  }
  .Experience__Inner {
    display: flex;
    flex-direction: column;
  }
  .Skills__Environiment li {
    text-align: center;
  }
  .Skills {
    flex-direction: column;
    align-items: center;
  }
  .Skills img {
    margin: 30px 0 0;
  }
  .CodeWars__inner img{
    margin: 5px 0;
  }
  .SKills__Img {
    margin-top: 2vh;
  }
  .Skills__Text {
    text-align: center;
  }
  .Contact-Wrapper {
    flex-direction: column;
  }
  .Skills-Wrapper {
    flex-direction: column;
  }
  .Skills-Wrapper-Inner{
    text-align: center;
    margin-bottom: 3vh;
  }
  .Skills-Wrapper-Inner{
    margin-right: 0;
  }
  .Contacts__EmailWrapper{
    flex-wrap: wrap;

  }
  .Contacts__EmailWrapper button{
    margin: 2vh 0;
  }
}
