.Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation */
.Navigation{
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    padding-top: 1vh;
    width: 640px;
}
 .Navigation__Links-First{
    margin-right: 3vw;
}
 .Navigation__Links-First .chakra-link{
    display: flex;
    align-items: center;
}
 .Navigation__Links {
    margin: 0 1vw;
}